html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* .hero-banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: url(../images/cutting-bread.jpg);
  background-repeat: no-repeat;
  background-position: center
  center;
  background-size: cover;
} */

nav {
  display: none;
}
input.nav-toggle {
  display: none;
}
input.nav-toggle:checked ~ nav {
  display: block;
}
label.nav-toggle-label {
  display: block;
}

@media screen and (min-width: 768px) {
  input.nav-toggle {
    display: none;
  }
  label.nav-toggle-label {
    display: none;
  }
  nav {
    display: block;
  }
}
